.blogHeader {
	background: var(--main-gradient);
	background-size: 400% 400%;
	color: var(--color-light);
	padding: 64px 0;
	animation: AnimatedGradient 24s ease infinite;
}

.blogHeaderContent {
	max-width: 720px;
	margin: auto;
	padding: 0 32px;
}

.blogHeaderContent p {
	margin-bottom: 0;
}

.blogHeaderContent h1 {
	font-size: 3em;
	margin-bottom: 0;
}