.contact {
	display: flex;
	flex-direction: column;
	max-width: 720px;
	margin: auto;
	padding: 32px 16px;		
}

.field {
	width: 100%;
	margin-bottom: 16px;
}

.contact label {
	display: block;
	margin-bottom: 4px;
	font-weight: 600;
}


.contact input {
	background: var(--color-grey);
	border: 2px solid transparent;
	border-radius: 2px;
	height: 56px;	
	font-size: 16px;
	outline: none;
	padding: 8px;
	transition: 160ms;
	width: 100%;	
}

.contact textarea {
	background: var(--color-grey);
	border: 2px solid transparent;
	border-radius: 2px;
	font-family: var(--font-stack);
	height: 128px;
	outline: none;
	padding: 8px;
	resize: none;
	width: 100%;
	transition: 160ms;
}

.contact input:focus,
.contact input:active,
.contact textarea:focus,
.contact textarea:active {
	background: var(--color-light);	
}

.contact button {
	background: transparent;
	border: 3px solid var(--color-light);
	border-radius: 2px;
	color: var(--color-light);
	cursor: pointer;	
	font-size: 1rem;	
	outline: none;
	height: 56px;
	width: 100%;
	transition: 200ms;
}

.contact button:hover, 
.contact button:focus {
	background: var(--color-light);
	color: var(--color-primary);
}
