.contact {
	display: flex;
	flex-direction: column;
	max-width: 720px;
	margin: auto;
	padding: 32px 16px;		
}

.field {
	width: 100%;
	margin-bottom: 16px;
}

.contact label {

	display: block;
	margin-bottom: 4px;
}


.contact input {
	border: 2px solid var(--main-grey);
	height: 56px;	
	font-size: 16px;
	outline: none;
	padding: 4px;
	width: 100%;
}

.contact textarea {
	border: 2px solid var(--main-grey);
	height: 128px;
	outline: none;
	width: 100%;
}

.contact input:focus,
.contact input:active,
.contact textarea:focus,
.contact textarea:active {
	border: 2px solid var(--primary-color);
}

.contact button {
	background: var(--main-gradient);
	border: 0;
	color: white;
	cursor: pointer;	
	font-size: 1rem;	
	outline: none;
	height: 56px;
	width: 100%;	
}


.contact button:focus {
	outline: red;
}

.contact button:hover {
	background: var(--main-gradient);
	background-position: right center;
	background-size: 200% auto;	
	transition: 0.5s;
}

.contact button:focus {
	outline: 2px solid var(--primary-color);
	outline-offset: 2px;
}
