@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.header {
	background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
	padding: 8px 32px;
	width: 100%;
}

.header svg:hover {
  animation: tada 1s;
}

.heading {
  align-items: center;
  color: var(--color-dark);
  display: flex;  
  text-decoration: none;
}

.heading h2 {
  margin: 0;
}

