.nav{
	display: flex;
}

.link {
	border-radius: 2px;
  color: var(--color-dark);
	padding: 8px 16px;
	text-decoration: none;
	transition: linear 100ms;
}

.link:hover{
	background:hsla(306, 50%, 41%, 0.2);	
}