.splash {
	align-items: center;	
	background: var(--main-gradient);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 24px 16px;
	text-align: center;
}

.title {
	font-size: 2rem;
	line-height: 1;
	margin-bottom: 16px;
	text-decoration: none;
}

.subTitle {
	font-size: 1.2rem;
	line-height: 1.4;
	margin-bottom: 16px;
}

.description {
	line-height: 1.6;
}

@media (min-width: 640px) {
	.splash {
		align-items: flex-start;
		justify-content: flex-end;			
		padding: 96px 64px;
		text-align:left;
	}
	.title {
		font-size: 4rem;
	}
	.subTitle {
		font-size: 1.4rem;
		line-height: 1.2;
	}
}